<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'members')}">
<head>
    <meta charset="UTF-8">
    <title>List of Members</title>
</head>
<body>
<!--/*@thymesVar id="member" type="churchoperations.model.Member"*/-->

    <h1 th:text="'List Members'"> List all Members</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 20px;">Id</th>
            <th style="width: 90px;">First Name</th>
            <th style="width: 90px;">Last Name</th>
            <th style="width: 90px;">Address</th>
            <th style="width: 90px;">City</th>
            <th style="width: 90px;">Telephone</th>
            <th style="width: 90px;">email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}">1</td>
            <td th:text="${member.firstName}">Ken</td>
            <td th:text="${member.lastName}">Murithi</td>
            <td th:text="${member.address}">455BMangu</td>
            <td th:text="${member.city}">Nairobi</td>
            <td th:text="${member.telephone}">9977-4455</td>
            <td th:text="${member.email}">ken@gmail.com</td>
        </tr>
        </tbody>
    </table>
</body>
</html>